.forgot-password {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  overflow: hidden;
  width: 1400px;
}

.overlap-group2-1 {
  height: 804px;
  margin-left: -14px;
  margin-top: -2.85px;
  position: relative;
  width: 1414px;
}

.rectangle-1-2 {
  background: linear-gradient(180deg, #cc0e19 0%, #70060c 100%);
  height: 800px;
  left: 14px;
  position: absolute;
  top: 3px;
  width: 1400px;
}

.bottom-semi-2 {
  height: 229px;
  left: 990px;
  object-fit: cover;
  position: absolute;
  top: 576px;
  width: 424px;
}

.top-quarter-2 {
  height: 296px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 345px;
}

.send-otp-1 {
  align-items: flex-end;
  background-color: var(--tamarillo);
  border-radius: 12px;
  box-shadow: 12px 12px 24px #00000054;
  cursor: pointer;
  display: flex;
  height: 71px;
  justify-content: flex-end;
  left: 759px;
  min-width: 427px;
  padding: 16.5px 150px;
  position: absolute;
  top: 516px;
  transition: all 0.2s ease;
}

.send-otp-1:hover {
  transform: translate(0, -5px);
}

.send-otp-2 {
  letter-spacing: -0.23px;
  line-height: 23px;
  min-height: 30px;
  min-width: 124px;
  white-space: nowrap;
}

.email-bg-1 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 6px 8px #00000029;
  height: 59px;
  left: 759px;
  position: absolute;
  top: 385px;
  width: 427px;
}

.email-icon {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 18px/19px;
  box-shadow: 3px 3px 18px #0000001f;
  display: flex;
  height: 38px;
  justify-content: flex-end;
  left: 766px;
  min-width: 36px;
  padding: 12.1px 8.2px;
  position: absolute;
  top: 396px;
}

.email-_1_ {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  min-width: 20px;
  padding: 0 0.0px;
}

.path-container-9 {
  height: 14px;
  margin-bottom: 0;
  position: relative;
  width: 20px;
}

.path-127 {
  height: 9px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 17px;
}

.path-128 {
  height: 12px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 6px;
}

.path-129 {
  height: 12px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 6px;
}

.path-130 {
  height: 6px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 17px;
}

.enter-email {
  background-color: transparent;
  border: 0;
  height: 24px;
  left: 822px;
  letter-spacing: 0;
  line-height: 18px;
  padding: 0;
  position: absolute;
  top: 404px;
  white-space: nowrap;
  width: 341px;
}

.enter-email::placeholder,
.enter-mobile-number::placeholder {
  color: #0000004d;
}

.mobile-bg-3 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 6px 8px #00000029;
  height: 59px;
  left: 759px;
  position: absolute;
  top: 275px;
  width: 427px;
}

.mobile-icon {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 18px/19px;
  box-shadow: 3px 3px 18px #0000001f;
  display: flex;
  height: 38px;
  left: 770px;
  min-width: 36px;
  padding: 8.2px 11.3px;
  position: absolute;
  top: 286px;
}

.padlock {
  height: 22px;
  object-fit: cover;
  width: 13px;
}

.enter-mobile-number {
  background-color: transparent;
  border: 0;
  height: 24px;
  left: 822px;
  letter-spacing: 0;
  line-height: 18px;
  padding: 0;
  position: absolute;
  top: 294px;
  white-space: nowrap;
  width: 302px;
}

.forgot-password-title {
  display: flex;
  height: 47px;
  justify-content: space-between;
  left: 773px;
  position: absolute;
  top: 162px;
  width: 396px;
}

.forgot-password-_1_ {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 34.24px;
}

.path-131 {
  flex: 1;
  height: 17.28px;
  margin-left: 3.7px;
  margin-right: 3.7px;
  margin-top: 0;
  max-height: 17.28px;
  object-fit: cover;
}

.path-132 {
  flex: 1;
  height: 27.3px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  max-height: 27.3px;
  object-fit: cover;
}

.forgot-password-1 {
  margin-bottom: 5.4px;
  margin-top: 5.0px;
  object-fit: cover;
  width: 326px;
}

.cancel-2 {
  cursor: pointer;
  left: 945px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 607px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.cancel-2:hover {
  transform: scale(1.1);
}

