.reset-password {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  overflow: hidden;
  width: 1400px;
}

.overlap-group2 {
  height: 804px;
  margin-left: -14px;
  margin-top: -2.85px;
  position: relative;
  width: 1414px;
}

.rectangle-1-1 {
  background: linear-gradient(180deg, #cc0e19 0%, #70060c 100%);
  height: 800px;
  left: 14px;
  position: absolute;
  top: 3px;
  width: 1400px;
}

.bottom-semi-1 {
  height: 229px;
  left: 990px;
  object-fit: cover;
  position: absolute;
  top: 576px;
  width: 424px;
}

.top-quarter-1 {
  height: 296px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 345px;
}

.send-otp {
  align-items: flex-end;
  background-color: var(--tamarillo);
  border-radius: 12px;
  box-shadow: 12px 12px 24px #00000054;
  cursor: pointer;
  display: flex;
  height: 71px;
  justify-content: flex-end;
  left: 759px;
  min-width: 427px;
  padding: 16.5px 165px;
  position: absolute;
  top: 516px;
  transition: all 0.2s ease;
}

.send-otp:hover {
  transform: translate(0, -5px);
}

.submit {
  letter-spacing: -0.23px;
  line-height: 23px;
  min-height: 30px;
  min-width: 94px;
  white-space: nowrap;
}

.email-bg {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 6px 8px #00000029;
  height: 59px;
  left: 759px;
  position: absolute;
  top: 374px;
  width: 427px;
}

.confirm-new-password {
  background-color: transparent;
  border: 0;
  height: 24px;
  left: 822px;
  letter-spacing: 0;
  line-height: 18px;
  padding: 0;
  position: absolute;
  top: 393px;
  white-space: nowrap;
  width: 217px;
}

.confirm-new-password::placeholder,
.new-password::placeholder {
  color: #0000004d;
}

.mobile-bg-2 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 6px 8px #00000029;
  height: 59px;
  left: 759px;
  position: absolute;
  top: 275px;
  width: 427px;
}

.new-password {
  background-color: transparent;
  border: 0;
  height: 24px;
  left: 822px;
  letter-spacing: 0;
  line-height: 18px;
  padding: 0;
  position: absolute;
  top: 294px;
  white-space: nowrap;
  width: 137px;
}

.reset-password-title {
  display: flex;
  height: 37px;
  justify-content: space-between;
  left: 779px;
  position: absolute;
  top: 166px;
  width: 375px;
}

.reset {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3.1px;
  margin-left: 0;
  margin-top: 4px;
  min-width: 59.26px;
  padding: 0 0.0px;
}

.path-container-8 {
  height: 30px;
  margin-top: 0;
  position: relative;
  width: 29px;
}

.path-143 {
  height: 29px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 13px;
}

.path-144 {
  height: 29px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 12px;
}

.path-145 {
  height: 10px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 10px;
}

.path-146 {
  align-self: center;
  height: 14px;
  margin-left: 3px;
  margin-top: 5.1px;
  object-fit: cover;
  width: 28px;
}

.reset-password-1 {
  object-fit: cover;
  width: 293px;
}

.show {
  background-color: transparent;
  border: 0;
  height: 20px;
  left: 1135px;
  letter-spacing: -0.14px;
  line-height: 14px;
  padding: 0;
  position: absolute;
  top: 395px;
  white-space: nowrap;
  width: 40px;
}

.show::placeholder,
.show-1::placeholder {
  color: #89080f99;
}

.show-1 {
  background-color: transparent;
  border: 0;
  height: 20px;
  left: 1135px;
  letter-spacing: -0.14px;
  line-height: 14px;
  padding: 0;
  position: absolute;
  top: 296px;
  white-space: nowrap;
  width: 40px;
}

.cancel-1 {
  cursor: pointer;
  left: 938px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 608px;
  white-space: nowrap;
}

